$teal-900: #268075;
$teal-800: #119888;
$teal-700: #3AC2B2;
$teal-600: #DFF2EE;
$teal-500: #F0F7F6;

$white-900: #FFFFFF;
$white-800: #FCFBF5;

$ink-900: #2D3940;
$ink-800: #2C576E;

$blue-900: #1E6C8D;
$blue-800: #369FCC;
$blue-700: #D7ECF5;

$purple-900: #674D9C;
$purple-800: #9471DF;
$purple-700: #E6DEF8;