// Typography Sizes
//
// Variables used for sizes for fonts and/or line-height.
$size-heading-xlarge: 80px;
$size-heading-large: 64px;
$size-heading-regular: 48px;
$size-heading-small: 40px;
$size-heading-xsmall: 32px;
$size-content-large: 24px;
$size-content: 20px;
$size-content-small: 18px;
$size-content-xsmall: 16px;
$size-content-xxsmall: 14px;
$size-content-xxxsmall: 12px;

// Font Family
$font-primary: "Poppins", sans-serif;
$font-secondary: "Restora", serif;

// Font Weight
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;