input,
textarea {
  margin-bottom: 15px;
  width: 100%;
  padding: 12px;
  background-color: $teal-500;
  border: 1px solid rgba(45, 57, 64, 0.1);
  border-radius: 8px;
  color: $ink-900;
  font-family: $font-primary;
  font-size: $size-content-xsmall;
  letter-spacing: -0.01em;
  transition: all 200ms ease;

  &::placeholder {
    color: rgba(45, 57, 64, 0.8);
    font-weight: $weight-medium;
    letter-spacing: -0.01em;
  }

  &:focus {
    background-color: $white-900;
    border: 1px solid $teal-900;
  }

  &:focus::placeholder {
    color: rgba(45, 57, 64, 0.2);
  }
}

textarea {
  margin-bottom: 0;
  resize: none;
}

input[type=submit] {
  margin-top: 35px;
  margin-bottom: 0;
}