h1, h2, h3, h4 {
  span {
    color: $teal-700;
  }
}

h1 {
  color: $ink-800;
  font-family: $font-secondary;
  font-size: $size-heading-small;
  letter-spacing: -0.02em;
}

h2 {
  color: $ink-800;
  font-family: $font-secondary;
  font-size: $size-heading-xsmall;
  letter-spacing: -0.02em;
}

h3 {
  color: $ink-800;
  font-family: $font-secondary;
  font-size: $size-content-large;
  letter-spacing: -0.02em;
}

h4 {
  color: $ink-800;
  font-family: $font-primary;
  font-size: $size-content;
  letter-spacing: -0.02em;
}

h5 {
  color: $teal-700;
  font-family: $font-primary;
  font-size: $size-content-xxsmall;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

h6 {
  color: $ink-800;
  font-family: $font-primary;
  font-size: $size-content;
  font-weight: $weight-semibold;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: $size-heading-large;
  }

  h2 {
    font-size: $size-heading-regular;
  }

  h3 {
    font-size: $size-heading-xsmall;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: $size-heading-xlarge;
  }

  h6 {
    font-size: $size-content-large;
  }
}