.article {
  margin-bottom: 40px;
}

.article__content {
  padding-top: 30px;
  border-top: 1px solid rgba(45,57,64,0.1);

  p {
    margin-bottom: 20px;
    font-size: $size-content-xsmall;
  }

  b {
    color: $ink-800;
  }

  .first-letter {
    float: left;
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
    color: $teal-700;
    font-family: $font-secondary;
    font-size: $size-heading-regular;
    line-height: 1.3em;
    border: 3px solid rgba(45,57,64,0.1);
    border-radius: 8px;
    transition: all 300ms ease;
  }
}

.article__content > .list-items {
  padding: 0;
  list-style: none;

  li {
    display: flex;
  }

  span {
    padding: 0 15px;
    color: $teal-700;
    font-family: $font-secondary;
    font-size: $size-heading-xsmall;
  }
}

@media screen and (min-width: 768px) {
  .article__content .first-letter {
    font-size: $size-heading-xlarge;
  }
}

@media screen and (min-width: 1024px) {
  .article {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto 50px;
  }

  .article__content {
    padding-top: 0;
    max-width: 80%;
    border: none;

    p {
      font-size: $size-content-small;
      line-height: 2em;
    }

    .first-letter {
      line-height: 1.15em;
    }
  }
}

@media screen and (min-width: 1440px) {
  .article {
    width: 70%;
  }
}

@media screen and (min-width: 1700px) {
  .article {
    width: 55%;
  }
}