.faqs {
  position: relative;
  padding: 60px 16px;

  h3 {
    margin: 80px 0 10px;
  }
}

.faqs__bg {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 500px;
  z-index: -1;

  img {
    width: 100%;
  }
}

.faqs__temp-check {
  margin-top: 100px;
  text-align: center;

  > p {
    margin-bottom: 20px;
    color: $ink-800;
  }
}

@media screen and (min-width: 768px) {
  .faqs {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1024px) {
  .faqs {
    margin-top: 50px;

    > h1 {
      max-width: 430px;
    }
  }

}