.topic {
  margin: 0 auto 70px;
  max-width: 650px;

  h4 {
    font-family: $font-secondary;
    line-height: 1.25em;
    text-align: center;
  }

  hr, span {
    margin: 30px auto;
    display: block;
    width: 40px;
    height: 4px;
    background-color: $teal-700;
    border: 0;
  }

  p {
    margin-bottom: 20px;
  }
}